// Import all of Bootstrap's CSS
@import 'bootstrap/scss/bootstrap';

.height {
  &-vh {
    &-full {
      height: 100vh;
    }
  }
  &-full {
    height: 100%;
  }
}


#login-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
